html {
  --paper-fab-background: #1A9FFF;
  --paper-fab-keyboard-focus-background: #1A9FFF;
  --paper-fab-disabled-background: #D7DADC;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  font-family: "Source Sans Pro";
}

.top-btn {
  padding-right: 6px;
}

header {
  height: 49px;
  border-bottom: 1px solid #dddddd;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-here-wrapper {
  position: relative;
}

.write-here {
  position: absolute;
  color: #0065B8;
  width: 100vw;
  text-align: center;
  padding: 0;
  margin: -33px auto 0;
  top: 50%;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 40px;
  z-index: 1;
}

#textInput,
#mathInput {
  height: calc(100vh - 50px);
}

paper-button,
.warningkeys {
  background-color: #F5F5F5;
  color: #0065B8;
}

paper-button[active] {
  background-color: #A5ABAD;
}

.hidden {
  display: none;
}

.warningkeys {
  height: calc(100vh - 40px);
  text-align: center;
  padding: 20px;
  font-size: 150%;
}
